<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>layout</key>
		<array>
			<string>111</string>
		</array>
		<key>speed</key>
		<string>1</string>
		<key>cols</key>
		<integer>3</integer>
		<key>rows</key>
		<string>1</string>
	</dict>
	<dict>
		<key>layout</key>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
		</array>
		<key>speed</key>
		<string>1</string>
		<key>cols</key>
		<integer>1</integer>
		<key>rows</key>
		<string>5</string>
	</dict>
	<dict>
		<key>layout</key>
		<array>
			<string>111</string>
			<string>110</string>
			<string>111</string>
		</array>
		<key>speed</key>
		<string>1</string>
		<key>rows</key>
		<integer>3</integer>
		<key>cols</key>
		<string>3</string>
	</dict>
	<dict>
		<key>layout</key>
		<array>
			<string>00100</string>
			<string>11111</string>
			<string>11011</string>
			<string>11111</string>
			<string>01110</string>
		</array>
		<key>speed</key>
		<string>1</string>
		<key>rows</key>
		<integer>5</integer>
		<key>cols</key>
		<string>5</string>
	</dict>
	<dict>
		<key>layout</key>
		<array>
			<string>100001</string>
			<string>010010</string>
			<string>001100</string>
			<string>010010</string>
			<string>100001</string>
		</array>
		<key>speed</key>
		<string>1</string>
		<key>cols</key>
		<integer>6</integer>
		<key>rows</key>
		<string>5</string>
	</dict>
</array>
</plist>
